{% extends 'products/base.html' %}
{% block content %}
{% load tag %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card mb-4 box-shadow" style="background-color: whitesmoke">
            <div class="card-header">
                <h3> {{object.name}} </h3>
            </div>
            <div class="card-body">
                <h5 class="card-title pricing-card-title">{{object.category}}</h5>
                <img src="{{ object.image | media_url }}">
                <p class="card-text">{{object.description | truncatechars:100}}</p>
                <h1 class="card-title pricing-card-title">{{object.price | floatformat:2}}</h1>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
