{% extends 'products/base.html' %}
{% load tag %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src="{{ object.image | media_url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ object.description }}.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ object.category }}</li>
    <li class="list-group-item">{{object.price}}</li>
    <li class="list-group-item">{{object.created_date}}</li>
  </ul>
  </div>
</div>
<{% endblock %}
