{% extends 'blog/base_blog.html' %}
{% block content %}

<div class="text-center container">
    <div class="col-12">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <p>Вы действительно хотите удалить?: "{{ object.name }}"</p>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Удалить</button>
                        <a type="button" href="{% url 'blog:blog_delete'%}" class="btn btn-lg btn-block btn-outline-primary">Отменить</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
